lps_domotica_vista/Connected Services/IWSEnergia/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/domotica_WcfService.Energia" />
  <xs:element name="AgregarEnergia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pFechaHora" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pHora" type="xs:int" />
        <xs:element minOccurs="0" name="pPotencia" type="xs:double" />
        <xs:element minOccurs="0" name="pDispositivo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarEnergiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/domotica_WcfService.Energia" minOccurs="0" name="AgregarEnergiaResult" nillable="true" type="q1:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>