lps_domotica_vista/Connected Services/domotica_WcfService/domotica_WcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/domotica_WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/domotica_WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/domotica_admin.Modelo" />
  <xs:complexType name="Alarma">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Respuesta">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/domotica_admin.Modelo" minOccurs="0" name="Dispositivo" nillable="true" type="q1:Dispositivo" />
          <xs:element minOccurs="0" name="FechaHora" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IdAlarma" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Limite_Inferior" type="xs:double" />
          <xs:element minOccurs="0" name="Limite_Superior" type="xs:double" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/domotica_admin.Modelo" minOccurs="0" name="Tipificacio" type="q2:ETipoAlarma" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Alarma" nillable="true" type="tns:Alarma" />
  <xs:complexType name="Respuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="MensajeServicio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Respuesta" nillable="true" type="tns:Respuesta" />
</xs:schema>