lps_domotica_vista/Connected Services/IWSAdministracion/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/domotica_admin.Modelo" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/domotica_WcfService.Administracion" />
  <xs:element name="AgregarAlarma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdAlarma" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pNombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pFechaHora" type="xs:dateTime" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/domotica_admin.Modelo" minOccurs="0" name="pDispositivo" nillable="true" type="q1:Dispositivo" />
        <xs:element minOccurs="0" name="pLimite_Inferior" type="xs:double" />
        <xs:element minOccurs="0" name="pLimite_Superior" type="xs:double" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/domotica_admin.Modelo" minOccurs="0" name="pTipificacion" type="q2:ETipoAlarma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarAlarmaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/domotica_WcfService.Administracion" minOccurs="0" name="AgregarAlarmaResult" nillable="true" type="q3:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlarma">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlarmaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/domotica_WcfService.Administracion" minOccurs="0" name="ListarAlarmaResult" nillable="true" type="q4:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>