lps_domotica_vista/Connected Services/IWSAdministracion/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSAdministracion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/domotica_admin.Modelo" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/domotica_WcfService.Administracion" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSAdministracion_AgregarAlarma_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarAlarma" />
  </wsdl:message>
  <wsdl:message name="IWSAdministracion_AgregarAlarma_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarAlarmaResponse" />
  </wsdl:message>
  <wsdl:message name="IWSAdministracion_ListarAlarma_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAlarma" />
  </wsdl:message>
  <wsdl:message name="IWSAdministracion_ListarAlarma_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAlarmaResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSAdministracion">
    <wsdl:operation name="AgregarAlarma">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSAdministracion/AgregarAlarma" message="tns:IWSAdministracion_AgregarAlarma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSAdministracion/AgregarAlarmaResponse" message="tns:IWSAdministracion_AgregarAlarma_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarAlarma">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSAdministracion/ListarAlarma" message="tns:IWSAdministracion_ListarAlarma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSAdministracion/ListarAlarmaResponse" message="tns:IWSAdministracion_ListarAlarma_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSAdministracion" type="tns:IWSAdministracion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarAlarma">
      <soap:operation soapAction="http://tempuri.org/IWSAdministracion/AgregarAlarma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarAlarma">
      <soap:operation soapAction="http://tempuri.org/IWSAdministracion/ListarAlarma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSAdministracion">
    <wsdl:port name="BasicHttpBinding_IWSAdministracion" binding="tns:BasicHttpBinding_IWSAdministracion">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/domotica_WcfService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>